.blog-title {
    font-size: 50px;
}

.blog-description {
    color: grey;
}
.blog-post-title {
    font-size: 35px;
}

.blog-post-meta {
    color: grey;
}

.section-title {
    font-size: 30px;
}

.sub-title {
    font-size: 23px;
}